<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {# This is used to fetch icons from boxicons.com #}
    <link href='https://cdn.boxicons.com/3.0.7/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    {% include 'components/_navbar.html' %}
    
    <main>
        {% block content %}
        <!-- Each page will put its content here -->
        {% endblock %}
    </main>

    {% include 'components/_footer.html' %}
</body>
</html>